@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Lato, sans-serif;
  /* background: rgba(84, 87, 90, 1); */
  background: #54575A;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper {
  position: relative;
  width: 1440px;
  height: 1379px;
  margin: auto;
}

.brand-img {
  position: absolute;
  width: 193;
  height: 47.64;
  opacity: 1;
  top: 50.25px;
  left: 221px;

}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  top: 236px;
  left: 221px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 67px;
  letter-spacing: 0%;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  opacity: 1;
  top: 403px;
  left: 221px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
}

.app-store-btn {
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  opacity: 1;
  top: 531px;
  left: 221px;
}

.app-store-btn img {
  width: 138.44px;
  height: 46.28px; 
}

.google-play-btn {
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  opacity: 1;
  top: 531px;
  left: 381.81px;
}

.google-play-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container {
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  opacity: 1;
  top: 229.73px;
  left: 683.28px;
}

.main-image-container img {
  height: 411.15px;
}

.profile-img {
  position: absolute;
  /* width: 224px; */
  height: 444px;
  opacity: 1;
  top: 686px;
  right: 479;
  left: 737px;
}

.product-img {
  position: absolute;
  /* width: 224px; */
  height: 222px;
  opacity: 1;
  left: 737px;
  right: 479px;
  top: 1157px;
}

.orders-img {
  position: absolute;
  /* width: 224px; */
  height: 470px;
  opacity: 1;
  left: 479px;
  right: 737px;
  top: 913px;
}

.cart-img {
  position: absolute;
  /* width: 224px; */
  height: 222px;
  opacity: 1;
  left: 221px;
  right: 995px;
  top: 1157px;
}

.home-img {
  position: absolute;
  /* width: 224px; */
  height: 470px;
  opacity: 1;
  left: 995px;
  right: 221px;
  top: 908px;
}

/* Background toggles  */
.background-toggles {
  position: absolute;
  right: 150px;
  top: 70px;
  display: flex;
}
.background-toggles > div {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* backgrounds */
.background-1 {
  background-color: #f2f2f2;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b8b8b8' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.background-3 {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}